* {
    margin: 0;
    padding: 0;
}
  
header {
    background-color: white;
    padding: 0 20%;
    height: 100px;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    height: 100px;
}
  
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}
  
nav ul li {
    margin: 0 10px;
    display: flex;
    align-items: center;
    
}
  
nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

nav ul li a:hover {
    color: rgb(255, 230, 0);
}

.book-now-button {
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 
 .book-now-button a {
    text-decoration: none;
    font-size: 1em;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Merriweather', serif;;
 }

.book-now-button a:hover {
    color: rgb(255, 230, 0);
    justify-content: center;
}

.hero-section img {
    width: 100%;
}

.hero-text-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Prata', serif;
}

.hero-text-container h1 {
    font-size: 2em;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-bottom: 2.5%;
}

.hero-book-now-button {
    background-color: rgba(148, 126, 0, 0.788);
    padding: 1%;
    font-family: 'Merriweather', serif;
    font-size: 2em;
    text-decoration: none;
    color: azure;
}

.hero-book-now-button:hover {
    color: rgb(0, 0, 0);
}

.sign-in {
    text-decoration: none;
    margin-top: 10px;
    color: #2c2c2c;
}

.sign-in:hover{
    color: rgb(255, 230, 0);
}

.grid-container {
    display: grid;
    grid-template-areas:
     "room-image room-text"
     "dining-text dining-image"
     "amenities-image amenities-text";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 2.5%;
    row-gap: 2.5%;
}

.book {
    padding: 40px 0;
    background: white;
    color: black;
}

.book h1 {
    font-size:28 px;

}
.book h1 span {
    margin-left: 45%;
    font-size: larger;
    color:black;
}

.book input{
    padding: 20px;
}

.book input:nth-last-child(1){
    background: goldenrod;
    color: black;
}
.form {
    margin-left: 30%;

}

.room-image {
    grid-area: room-image;
    overflow: hidden;
}

.room-image img {
    width: 100%;
    height: 100%;
}

.room-text {
    grid-area: room-text;
    background-color: snow;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.room-text h2 {
    font-family: 'Antic Didone', serif;
    font-size: 2em;
}

.rooms-button {
    background-color: rgba(0, 0, 0, 0.788);
    padding: 1%;
    margin: 2%;
    text-decoration: none;
    font-size: 2em;
    color: azure;
    font-family: 'Merriweather', serif;
}

.rooms-button:hover {
    color: rgb(255, 230, 0);
}

.dining-image {
    grid-area: dining-image;
    overflow: hidden;
}

.dining-image img {
    width: 100%;
    height: 100%;
}
  
.dining-text {
    grid-area: dining-text;
    background-color: snow;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.dining-text h2 {
    font-family: 'Antic Didone', serif;
    font-size: 2em;
}

.dining-button {
    font-family: 'Merriweather', serif;
    background-color: rgba(148, 126, 0, 0.788);
    padding: 1%;
    margin: 2%;
    text-decoration: none;
    font-size: 2em;
    color: azure;
}

.dining-button:hover {
    color: black;
}
  
.amenities-text {
    grid-area: amenities-text;
    background-color: snow;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
    overflow: hidden;
}

.amenities-text h2 {
    font-family: 'Antic Didone', serif;
    font-size: 2em;
    padding: 1%;
}

.amenities-button {
    font-family: 'Merriweather', serif;
    background-color: rgba(0, 0, 0, 0.788);
    padding: 1%;
    margin: 2%;
    text-decoration: none;
    font-size: 2em;
    color: azure;
}

.amenities-button:hover {
    color: rgb(255, 230, 0);
}

.amenities-image {
    grid-area: amenities-image;
    overflow: hidden;
}

.amenities-image img {
    width: 100%;
    height: 100%;
}

footer {
    font-family: 'Roboto', sans-serif;
    background-color: beige;
    color: black;
    padding: 1%;
    text-align: center; 
}
  
footer {
    font-family: 'Roboto', sans-serif;
    background-color: beige;
    color: black;
    padding: 1%;
    text-align: center; 
 }
  
 .top-footer {
    background-color: rgba(148, 126, 0, 0.788); 
    padding: 2px;
    color: #fff; 
    text-align: center;
 }
  
 .footer-buttons {
    display: flex;
    justify-content: right;
 }
  
 .footer-buttons button {
    background-color: rgba(148, 126, 0, 0); 
    border: none;
    color: #333; 
    margin-right: 25px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
 }