* {
   margin: 0;
   padding: 0;
}

h2 {
   margin-top: 20px;
   text-align: center;
   font-size: 30px;
   margin-bottom: 20px;
}

.flex {
   display: flex;
   flex-direction: row;
   margin-bottom: 100px;
   align-items: center;
   background-color: rgb(255, 232, 174);
}

.content {
   margin: 0 10px;
}

.para {
   width: calc(100% - 800px);
   max-height: 300px;
   min-width: 300px;
   overflow: scroll;
   background-color: rgb(255, 211, 128);
   padding: 15px;
   font-family: 'Antic Didone', serif;
   overflow-x: hidden;
   font-size: 17px;
}

h3 {
   text-align: center;
   margin-bottom: 10px;
   font-family: 'Antic Didone', serif;
}

.unpara {
   display: none;
   visibility: collapse;
}

.blue {
   background-color: rgb(216, 216, 255) !important;
}

@media screen and (max-width: 1190px) {

   .flex {
      display: flex;
      flex-direction: row;
      background-color: white;
      margin-bottom: 30px;
      align-items: normal;
      max-width: 100%;
   }

   .img {
      margin-left: 1%;
      margin-right: 1%;
   }

   .para {
      display: none;
      visibility: collapse;
      font-family: 'Antic Didone', serif;
      overflow-x: hidden;
   }

   .unpara {
      visibility: visible;
      display: block;
      max-height: 150px;
      overflow: auto;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 100px;
      background-color: rgb(255, 211, 128);
      padding: 15px 25px;
      overflow-x: hidden;
   }

   .img {
      width: 48%;
      height: 48%;
   }

   body {
      max-width: 100%;
      overflow-x:hidden;
   }

}