* {
   margin: 0;
   padding: 0;
}

.container {
   max-width: 400px;
   margin: 0 auto;
   padding: 20px;
 }
 /*font for Get in touch with our team*/
 .description {
   text-align: center;
   margin-bottom: 20px;
   font-family: 'Antic Didone';
 }
 
 form {
   display: grid;
   grid-gap: 10px;
 }
 /*label font for the form label,ul font for the content,h2 for location etc  */
 label {
   font-family: 'Antic Didone';
 }
 ul{
   font-family: 'Antic Didone';
 }
 h2{
   font-family: "Antic Didone";
 }
 input {
   width: 100%;
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

 .submit {
   background-color: rgba(148, 126, 0, 0.788);
   color: #fff;
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
   /*submit button font*/
   font-family: 'Merriweather', serif;
 }

 .submit:hover {
   background-color: rgba(148, 126, 0, 0.432);
 }
 #home{
   width: 100%;
   height: auto;
 }