* {
   margin: 0;
   padding: 0;
}

.container {
   position: relative;
   width: 100%;
 }

 .image {
   width: 100%;
   height: auto;
 }

 .text-overlay {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(0, 0, 0, 0.438);
   padding: 10px;
   color: white;
   font-size: 25px;
   text-align: center;
   font-weight: bold;
   font-family: 'Prata', sans-serif;
 }


 .hero-text-container {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: space-around;
   margin-top: 5%;
   margin-bottom: 5%;
   font-family: 'Prata', serif;
}

.hero-text-container h1 {
   font-size: 2em;
   text-align: center;
   font-family: 'Playfair Display', serif;
   margin-bottom: 2.5%;
}

.hero-book-now-button {
   background-color: #d4ac2c;
   padding: 1%;
   font-family: 'Merriweather', serif;
   font-size: 2em;
   text-decoration: none;
   color: azure;
   border-radius: 4px;
}

.hero-book-now-button:hover {
   color: rgb(0, 0, 0);
}

 .grid-container {
   display: grid;
   grid-template-areas:
    "room-image room-text"
    "dining-text dining-image"
    "amenities-image amenities-text";
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   margin: 2.5%;
   row-gap: 2.5%;
}

.book {
   padding: 40px 0;
   background: white;
   color: black;
}

.book h1 {
   font-size:28 px;

}
.book h1 span {
   margin-left: 45%;
   font-size: larger;
   color:black;
}

.book input{
   padding: 20px;
}

.book input:nth-last-child(1){
   background: goldenrod;
   color: black;
}
.form {
   margin-left: 30%;
}

.room-image {
   grid-area: room-image;
   overflow: hidden;
}

.room-image img {
   width: 100%;
   height: 100%;
   border-radius: 15px;
}

.loyality-text {
   grid-area: room-text;
   background-color: snow;
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   overflow: hidden;
}

.loyality-text h2 {
   font-family: 'Antic Didone', serif;
   font-size: 2em;
}

 .dining-image {
   grid-area: dining-image;
   overflow: hidden;
}

.dining-image img {
   width: 100%;
   height: 100%;
   border-radius: 15px;
}
 
.dining-text {
   grid-area: dining-text;
   background-color: snow;
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
   text-align: center;
   overflow: hidden;
}

.dining-text h2 {
   font-family: 'Antic Didone', serif;
   font-size: 2em;
}

.dining-button {
   font-family: 'Merriweather', serif;
   background-color: rgba(148, 126, 0, 0.788);
   padding: 1%;
   margin: 2%;
   text-decoration: none;
   font-size: 2em;
   color: azure;
}

.dining-button:hover {
   color: black;
}
 
.amenities-text {
   grid-area: amenities-text;
   background-color: snow;
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
   text-align: justify;
   overflow: hidden;
}

.amenities-text h2 {
   font-family: 'Antic Didone', serif;
   font-size: 2em;
   padding: 1%;
}

.amenities-button {
   font-family: 'Merriweather', serif;
   background-color: rgba(0, 0, 0, 0.788);
   padding: 1%;
   margin: 2%;
   text-decoration: none;
   font-size: 2em;
   color: azure;
}

.amenities-button:hover {
   color: rgb(255, 230, 0);
}

.amenities-image {
   grid-area: amenities-image;
   overflow: hidden;
}

.amenities-image img {
   width: 100%;
   height: 100%;
   border-radius: 15px;
}

.btn {
   -webkit-transition: .3s all ease;
   -o-transition: .3s all ease;
   transition: .3s all ease;
   padding: 12px 30px;
   text-transform: uppercase;
   letter-spacing: .15em;
   font-family: 'Merriweather', serif;
 }
 
 .btn.btn-black {
   background: #000;
   color: #fff;
 }
 
 .btn.btn-primary {
   color: #fff;
   border-width: 2px;
 }
 
 .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
   border-color: #d4af37;
   background: #d4af37;
 }
 
 .btn.btn-sm {
   font-size: 15px;
 }
 
 .btn.btn-outline-primary {
   border-width: 2px;
   color: #d4af37;
 }
 
 .btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {
   color: #fff;
 }
 
 .btn.btn-outline-white {
   border-width: 2px;
   border-color: #fff;
   color: #fff;
 }
 
 .btn.btn-outline-white:hover, .btn.btn-outline-white:focus {
   background: #fff;
   color: #000;
   border-width: 2px;
 }
