* {
   margin: 0;
   padding: 0;
}

.hero-section img {
   width: 100%;
}

 .container {
   max-width: 400px;
   margin: 0 auto;
   padding: 20px;
 }

.pic {
   grid-area: room-image;
}

.grid-container {
   display: grid;
   grid-template-areas:
    "room-image room-text";
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   margin: 2.5%;
   row-gap: 2.5%;
}

.container {
   max-width: 400px;
   margin: 0 auto;
   padding: 20px;
 }
 
 .description {
   text-align: center;
   margin-bottom: 20px;
   font-family: 'Crete Round', serif;
 }
 
 form {
   display: grid;
   grid-gap: 10px;
 }
 
 label {
   font-family: 'Merriweather', serif;
 }
 
 input {
   width: 100%;
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

.submit {
   background-color: rgba(148, 126, 0, 0.788);
   color: #fff;
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
   font-family: 'Merriweather', serif;
 }

 .submit:hover {
   background-color: rgba(148, 126, 0, 0.432);
 }

.linktosignin {
   font-family: 'Merriweather', serif;
}